
spring:
  datasource:
    url: jdbc:h2:mem:test
    username: sa
    password:
#    url: jdbc:mysql://localhost:3306/test?serverTimezone=Asia/Seoul
#    username: root
#    password: 1q2w3e4r!!
  jpa:
    hibernate:
      ddl-auto: create
    show-sql: true
server:
  port: 8081